@charset "UTF-8";
body{
    font-size: 17px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}

.header{
    background-color: #ececec;
    padding: 10px;
    line-height: 0;
}

.header-title{
    font-size: 23px;
    display: flex;
}
.header-links{
    margin: 10px 0;
}

main{
    padding: 5px;
}
@media (min-width: 1200px){
    main{
        width: 1200px;
       margin-left: auto;
       margin-right: auto;
    }
}

.h{
    padding: 5px;
    background-color:#ececec;   
}